*{
    font-size: 16px;
}
body{
    background-color: #000;
    color:white;
}
h1{
    font-size: 1.8em;
    text-align: center;
}
h2{
    font-size: 1.2em;
}
h3{
    font-size: 1.3em;
    text-align: center;
}
p{
    font-size: 0.8em;
}
.grille{
    margin: 5px 10%;

}
section{
    border-radius:6px;
    padding-left:10px;
}
section:nth-child(1){
    background-color:#2d2d2d;
}
section:nth-child(5) form{
    background-color: #2d2d2d;
    padding: 10px 5px;
    border-radius: 3px;
}
section:nth-child(6){
    border-bottom: 1px solid white;
    border-radius:unset;
}
.droite{
    text-align: right;
}